body{
    overflow-x:hidden;
    overflow-y: hidden;
}
.chat-main{
    position: static;
    clear: both;
}
.chat-list{
    margin-top: 5%;
    padding-top: 20px ;
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    display: -webkit-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    z-index: 1;
}
.chat-list .chat-boxs{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    display: inline-block;
    padding: 7px 7px 7px 7px;
    margin: 0 10px;
    margin-bottom: 5px;
    color: #ffff00;
    background: #696464;
    opacity:1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.chat-list .chat-boxs span{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color:#ce3333;
}
.chat-list .chat-boxs font{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color:#eeff00;
}
.chat-foot
{
    position: fixed;
    bottom: 3%;
    width: 100%;
}
.chat-input{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    padding: 7px 7px 7px 7px;
    margin: 0 10px;
    margin-bottom: 5px;
    color: #ffff00;
    background: #000000;
    opacity:0.5;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 15px;
}
.chat-input input{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color: white;
    background: transparent;
    border: transparent;
}
.chat-input input::placeholder{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    color: #ffff00;
}
.icon-default{
    padding: 0px 30px 0px 0px;
    height: 30px;
    background: url(/css/icons/22.svg) center no-repeat;
    opacity:1;
}
.icon-login{
    padding: 0px 50px 0px 0px;
    height: 30px;
    background: url(/css/icons/login.svg) center no-repeat;
    opacity:1;
    float: right;
}
.icon-me{
    padding: 0px 50px 0px 0px;
    height: 30px;
    background: url(/css/icons/me.svg) center no-repeat;
    opacity:1;
    float: right;
}
.icon-send{
    padding: 0px 30px 0px 0px;
    height: 30px;
    background: url(/css/icons/send.svg) center no-repeat;
    opacity:1;
}
.icons{
    display: none;
}
.icons-list{
    overflow-x: scroll;
    background: #f5dbd1;
    border: transparent;
    width: 100%;
    height: 200px;
    display: -webkit-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: fixed;
    bottom: 10%;
    z-index:1;
}
.icons .icons-list span{
    padding: 10px 30px 25px 25px;
    height: 30px;
    display: inline-block;
}
.chat-list .chat-icon{
    padding: 0px 10px 0px 7px;
    opacity:1;!important;
}
.chat-list .chat-icon svg{
    width: 30px;
    height: 30px;
}
.footer{
    position: fixed;
}
.prize{
    margin-top: 60%;
    height: 10%;
    width: 98.5%;
    text-align: center;
    border: #ff0000 solid 3.5px;
    border-right: #ff0000 solid 4px;
    border-top: none;
}
.prize p{
    line-height: 1;
}
.prize a{
    text-decoration:none;
    cursor: pointer;
}
.prize-list{
    z-index:9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333030;
    opacity:0.8;
}
.prize-list-body{
    width: 80%;
    height: 80%;
    margin-left:10%;
    margin-top: 10%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: -webkit-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.prize-list-body ul{
    margin-top: 5%;
    list-style: none;
}
.prize-list-body ul li{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    display: block;
    margin: 5px 5px 9px 20px;
    font-weight: 800;
}
.prize-type-sp{
    -webkit-line-clamp: 2;
    background-image:-webkit-linear-gradient(bottom, rgb(245, 223, 214),rgb(255, 11, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prize-type-ssr{
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(bottom, rgb(230, 199, 47),rgb(222, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prize-type-sr{
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(bottom, rgb(220, 165, 216),rgb(240, 3, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prize-list-body h2{
    display: block;
    margin-top: 20%;
    margin-bottom: 5%;
    color:red;
    font-weight: 900;
    text-align: center;
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255),rgb(213, 216, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.this-prize{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #4bff00;
    border-bottom: 5px solid transparent;
}
.me{
    margin-left: 10%;
    position: fixed;
    bottom: 30%;
    width: 80%;
    height: 30%;
    background: #333030;
    opacity:0.8;
    text-align: center;
}
.me span{
    display: block;
}
.me .name
{
    margin-top: 10%;
    font-weight: 900;
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255),rgb(213, 216, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.me .code
{
    margin-top: 5%;
    font-weight: 900;
    -webkit-line-clamp: 2;
    background-image: -webkit-linear-gradient(bottom, rgb(255, 0, 0),rgb(252, 255, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.close{
    padding: 0px 50px 0px 0px;
    height: 30px;
    background: url(/css/icons/close.svg) center no-repeat;
    float: right;
    margin-top: 24%;
}